<div class="col-md-12">

  <h2 class="text-center"> 我建立的电影讨论版 </h2>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Review Count</th>
        <th>Last Update</th>
      </tr>
    </thead>

    <tbody>
      <% @films.each do |film| %>
      <tr>
        <td>#</td>
        <td><%= link_to(film.title,film_path(film)) %></td>
        <td><%= film.description %></td>
        <td><%= film.reviews.count %></td>
        <td><%= film.updated_at %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>
